<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="finder">
        <i class="icon finder"></i>
        <ion-label>发现</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="group">
        <i class="icon group"></i>
        <ion-label>圈子</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <i class="icon create"></i>
        <ion-label>制作</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="message">
        <i class="icon message"></i>
        <ion-label>消息</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <i class="icon home"></i>
        <ion-label>我的</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
