<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="mp-cog"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="mp-share"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="mp-search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="meta">
    <div class="user">
      <ion-avatar slot="start">
        <ion-img src="/assets/images/avatar.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        <h4>赵玉川</h4>
        <p>暂未留下签名</p>
      </ion-label>
      <ion-chip>
        <ion-img src="/assets/images/envelope.png"></ion-img>
        <ion-label>签到</ion-label>
      </ion-chip>
    </div>
    <div class="count">
      <ion-label><span>0</span> 圈子</ion-label>
      <ion-label><span>17</span> 关注</ion-label>
      <ion-label><span>1</span> 粉丝</ion-label>
    </div>
    <div class="navs">
      <ion-chip>
        <ion-img src="/assets/icons/icon_7.png"></ion-img>
        <ion-label>美篇手册</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-img src="/assets/icons/icon_3.png"></ion-img>
        <ion-label>收藏</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-img src="/assets/icons/icon_4.png"></ion-img>
        <ion-label>钱包</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-img src="/assets/icons/icon_5.png"></ion-img>
        <ion-label>美篇书</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-img src="/assets/icons/icon_6.png"></ion-img>
        <ion-label>访问统计</ion-label>
      </ion-chip>
    </div>
  </div>
  <div class="works">
    <div class="tab-bar">
      <ion-label class="active">全部文章</ion-label>
      <ion-label>视频</ion-label>
      <ion-label>回收站</ion-label>
      <!-- 提示器 -->
      <div class="indicator"></div>
      <ion-icon class="folder" name="mp-folder"></ion-icon>
    </div>
    <div class="tab-content">
      <ion-card>
        <ion-card-content>
          <ion-card-title>我们成长的孩子和辛勤付出的老师！</ion-card-title>
          <ion-img src="/assets/images/cover_1.jpg"></ion-img>
          <ion-chip>
            <ion-label class="date">2018-05-26</ion-label>
            <ion-label>29阅读</ion-label>
            <ion-label>0评论</ion-label>
            <ion-label>0点赞</ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <ion-card-title>我们成长的孩子和辛勤付出的老师！</ion-card-title>
          <ion-img src="/assets/images/cover_2.jpg"></ion-img>
          <ion-chip>
            <ion-label class="date">2018-05-26</ion-label>
            <ion-label>29阅读</ion-label>
            <ion-label>0评论</ion-label>
            <ion-label>0点赞</ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>


